//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "keys_nb.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Num         2
#define Sym         3
#define Gaming      4

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

    };

    macros {
        m_umlaut: m_umlaut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NB_UMLAUT &kp NB_UMLAUT>;
        };
        m_caret: m_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NB_CARET &kp NB_CARET>;
        };
        m_grave: m_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NB_GRAVE &kp NB_GRAVE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <22 23>;
        };

        combo_sym {
            bindings = <&sl 3>;
            key-positions = <33 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
               &kp NB_C            &kp NB_Y       &kp NB_O        &kp NB_U          &kp NB_Z          &kp NB_X     &kp NB_K        &kp NB_M        &kp NB_F       &kp NB_B
               &hm LEFT_WIN NB_D   &hm LALT NB_I  &hm LCTRL NB_E  &hm LSHIFT NB_A   &kp NB_O_SLASH    &kp NB_J     &hm RSHFT NB_L  &hm RCTRL NB_T  &hm LALT NB_S  &hm LEFT_WIN NB_N
&hm LCTRL ESCAPE  &kp NB_P         &kp NB_DOT     &kp NB_COMMA    &kp NB_A_RING     &kp NB_AE         &kp NB_Q     &kp NB_H        &kp NB_G        &kp NB_V       &kp NB_W              &kp ENTER
                                                  &sl 2           &kp SPACE         &mo 1             &sk LSHFT    &lt 2 NB_R      &kp ENTER
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
        &trans        &trans        &trans     &kp ENTER       &trans    &kp INSERT      &trans          &trans        &trans           &trans
        &kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp LC(Z)     &kp LC(X)     &kp LC(C)  &kp LC(V)       &trans    &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans  &trans
                                    &trans     &trans          &trans    &trans          &trans          &trans
            >;
        };

        Num {
            bindings = <
        &trans        &trans    &trans     &trans          &trans    &trans  &kp NB_N7  &kp NB_N8  &kp NB_N9  &trans
        &kp LEFT_WIN  &kp LALT  &kp LCTRL  &kp LEFT_SHIFT  &trans    &trans  &kp NB_N4  &kp NB_N5  &kp NB_N6  &kp NB_N0
&trans  &trans        &kp NB_EQUAL  &kp NB_PLUS  &kp NB_MINUS  &trans    &trans  &kp NB_N1  &kp NB_N2  &kp NB_N3  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Num";
        };

        Sym {
            label = "Sym";
            bindings = <
        &m_umlaut          &kp NB_AT     &kp NB_HASH           &kp NB_DOLLAR             &kp NB_PERCENT       &kp NB_AMPERSAND  &kp NB_LEFT_BRACE  &kp NB_LEFT_BRACKET  &kp NB_RIGHT_BRACKET  &kp NB_RIGHT_BRACE
        &kp NB_EXCLAMATION &m_grave      &kp NB_SQT            &kp NB_DOUBLE_QUOTES      &kp NB_TILDE         &kp NB_BACKSLASH  &kp NB_SLASH       &kp NB_LPAR          &kp NB_RPAR           &kp NB_QUESTION
&trans  &m_caret           &kp NB_EQUAL  &kp NB_PLUS           &kp NB_MINUS              &kp NB_UNDERSCORE    &kp NB_ASTERISK   &kp NB_PIPE        &kp NB_LESS_THAN     &kp NB_GREATER_THAN   &trans  &trans
                                         &trans                 &trans                    &trans               &trans            &trans             &trans
            >;
        };


        Gaming {
            bindings = <
            &kp TAB           &kp NB_Q  &kp NUMBER_2  &kp NB_E      &kp NB_R     &trans  &trans  &trans  &trans  &trans
            &kp LEFT_SHIFT    &kp NB_A  &kp NB_W      &kp NB_D      &kp NB_F     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_CONTROL  &kp NB_Z  &kp S         &kp NB_C      &kp NB_V     &trans  &trans  &trans  &trans  &trans  &trans
                                        &kp NB_X      &kp LEFT_ALT  &kp SPACE    &trans  &trans  &to 0
            >;

            label = "Gaming";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
